<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        Name <input type="text" name="txtName">
        <br>
        Pass <input type="text" name="txtPass">
        <br>
        Country
        <select name="txtCountry">
            <option value="VN">VN</option>
            <option value="ThaiLand">Thailand</option>
        </select>
        <br>
        <input type="submit" value="OK" />
    </form>
</body>

</html>